<main id="post">
	dasdasda


	dasdass
	<h1>
		dsadasd
	</h1>

	<h1>
		dsadasd
	</h1>
	<h1>
		dsadasd
	</h1>
	<h1>
		dsadasd
	</h1>
	<h1>
		dsadasd
	</h1>

	<h1>
		dsadasd
	</h1>
	<h1>
		dsadasd
	</h1>
	<%= page.content%>
</main>