<main class="blogs">
	<div class="row justify-content-center">
		<div class="col-xl-11 col-md-11 col-sm-12 col-xs-12">
			<div class="blog-main" id="waterfall">
				<%- partial('_partial/article', {posts: site.posts}) %>
			</div>
		</div>
	</div>
</main>
