<!DOCTYPE html>
<html lang="zh-CN">
	<%- partial('_partial/head') %>
<body>
	<%- partial('_partial/header') %>
	<div className="container" id="container">
		<%- body %>
	</div>
	<%- partial('_partial/footer') %>
</body>
</html>
