/*
* @Author: iMocco
* @Date:   2018-11-12 14:40:39
* @Last Modified by:   iMocco
* @Last Modified time: 2018-11-13 14:04:55
*/
.blogs{
	margin-top: 3.25rem;
	width: 100%;
	height: 100%;
	background: #f9f9f9;
	padding-top: 2rem;
	overflow-x: hidden;
}
.blog-main{
	display: -webkit-flex; /* Safari */
	display: flex;
	margin-left: 20px;
}