.back-imgs
	position: absolute;
	top: 3.25rem
	left: 0px
	right: 0px
	bottom: 0px
	background: url('https://annie-header-bg-1253939655.cos.ap-beijing.myqcloud.com/67.jpg');
	z-index 0
	
.swiper-container {
    width: 100%;
    height: 100%;
} 