<div class="js-masonry" data-masonry-options='{ "itemSelector": ".article", "columnWidth": 30 }'>

	<% site.posts.sort('date').reverse().each(function(post) { %>
	<div class="article">
		<div class="article-bg">
			<% if(post.photos && post.photos.length){%>
			<img class="article-img" src="<%=post.photos%>?imageView2/2/w/280/q/85" alt="">
			<% }%>
		</div>
		<div class="article-title">
			<a href="" class="article-title-a">
				<%- post.title%>
			</a>
		</div>
		<div class="article-content">
			<%- post.external%>
		</div>
		</p>
		<div class="article-footer">
			<% var date = post.date.format('YYYY-MM-DD'); %>
			<%- date%>
		</div>
	</div>
	<% })%>
</div>