<header id="header">
	<div class="banner">
	</div>
	<div class="header-container">
		<div class="logo-wrap">
		</div>
		<div class="nav">
			<nav class="main-nav">
				<ul class="main-nav-ul">
					<% for (var i in theme.menu){ %>
					<li class="main-nav-li">
						<a href="<%- url_for(theme.menu[i]) %>" class="main-nav-link"><%= i %></a>
					</li>
					<% } %>
				</ul>
			</nav>
		</div>
	</div>
</header>