<nav aria-label="Page navigation">
    <ul class="pagination">
        <% if (page.prev) { %>
        <li class="page-item"><a class="page-link" href="<%- url_for(page.prev_link) %>">Prev</a></li>
        <% } %>
        <% for(var i = 1; i < page.total + 1; i++){ %>
        <li class="page-item <%= page.current == i ? 'active':''%>">
            <a class="page-link"><%= i%></a>
        </li>
        <% } %>
        <% if (page.next) { %>
        <li class="page-item"><a class="page-link" href="<%- url_for(page.next_link) %>">Next</a></li>
        <% } %>
    </ul>
</nav>