/*
* @Author: iMocco
* @Date:   2018-11-12 15:02:57
* @Last Modified by:   iMocco
* @Last Modified time: 2018-11-12 19:31:04
*/
.article{
	border: 1px solid #ddd;
	margin: 5px;
}
.article-img{
	width: 100%;
}
.article-date{
	background: #dee3e7;
}
.article-main{
	position: relative;
	width: 100%;
	text-align: center;
}


.js-masonry{
	background: red;
}

@media screen and (min-width: 576px){
	.article {
		width: 90%;
	}
}

@media screen and (min-width: 768px){
	.article {
		width: 48%;
	}
}
@media screen and (min-width: 992px){
	.article {
		width: 31.5%;
	}
}
@media screen and (min-width: 1200px){
	.article {
		width: 23.5%;
		margin: 0.75%;
	}
}