/*
* @Author: iMocco
* @Date:   2018-11-12 15:02:57
* @Last Modified by:   iMocco
* @Last Modified time: 2018-11-13 16:17:43
*/
.card{
	margin:12px 0;
	width: 280px;
	background: #fff;
	transition: all .3s ease-out;
	transition-delay: .1s;
	cursor: pointer;
}
.card:hover {
	box-shadow: 5px 10px 10px -5px rgba(0,0,0,.2);
	margin-top: 10px;
	margin-left: -2px;
}
.article-img{
	width: 100%;
}
.article-footer{
	display: table;
	width: 100%;
	padding: 10px 15px;
	border-top: 1px solid #e8e8e8;
	background: #fbfbfb;
}
.article-main{
	position: relative;
	width: 100%;
	text-align: center;
}
.article-title{
	text-align: center;
}
.article-date{
}
.article-title-a{
	display: block;
	padding: 1em .5em .2em;
	font-weight: 400;
	line-height: 1.5em;
	text-align: center;
	font-size: 18px;
	color: #000;
	outline: none
}

.card-text{
	line-height: 1.4;
	font-size: 13px;
	color: #888;
	text-indent: 2em;
}

.js-masonry{
	width: 100%;
}

@media screen and (min-width: 320px){
	.blog-main{
		width: 320px;
	}
}

@media screen and (min-width: 620px){
	.blog-main{
		width: 620px;
	}
}

@media screen and (min-width: 920px){
	.blog-main{
		width: 920px;
	}
}
@media screen and (min-width: 1220px){
	.blog-main{
		width: 1220px;
	}
}
@media screen and (min-width: 1520px){
	.blog-main{
		width: 1520px;
	}
}