footer {
  position: absolute;
  bottom: 0;
  padding: 3rem 0 2rem 0;
  margin-top: 5rem;
  background-color: #252525;
  color: #fff !important;
  text-align: center;
  width 100%
  line-height: 36px;
  letter-spacing: 1px;
  font-family: "Source Sans Pro", "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", FontAwesome, sans-serif;
}

footer a {
  color: #fff;
  display: inline-block;
}

footer span {
  color: #fff;
}