#header
  
.header-container
  position: fixed
  display:flex
  justify-content: space-between
  top: 0
  width: 100%
  background: hsla(0,0%,100%,.95)
  font: .8rem Ubuntu,sans-serif
  height: 3.25rem
  box-shadow: 0 1px 40px -8px rgba(0,0,0,.5)
  transition: all .5s ease
.main-nav-ul
  display: flex
  margin: 0
  li
    display: inline-block
    height: 3.25rem;
    margin-right: 1em;
    padding: 0 1em;
    outline: none;
    overflow: hidden;
    line-height: 3.25rem;
    color: #333;
    text-align: center;
    font-size: 14px;
    transition: all .2s linear;
    -moz-transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;