.post{
	padding-bottom: 100px;
	padding-top: 100px;
}
.card-body img{
	width: 100%;
}
.card{
	border: none;
	border-radius: 0 !important;
	box-shadow: 0 0 10px rgba(50, 50, 50, .17);
	font-family: 'Courier New', -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
	text-rendering: optimizelegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 400;
	font-size: 16px;
	word-spacing: 2px;
	color: #666;
	margin: 0;
	word-break: break-all;
}
h1.title{
	font-weight: 400;
	color: #444;
	margin: 0 0 15px;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-family: "Montserrat", "Helvetica Neue", "Hiragino Sans GB", "LiHei Pro", Arial, sans-serif;
}
h3.date{
	font-weight: 400;
	font-family: "Montserrat", "Helvetica Neue", "Hiragino Sans GB", "LiHei Pro", Arial, sans-serif;
	font-size: 13px;
	color: #999;
	margin: 0 0 30px;
	letter-spacing: 1px;
}
.card-title{
	text-align: center;
	/*border-bottom: 1px dashed #ddd;*/
}